.App {
  background-color: #17141d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  padding: 0;
  margin: 0;
  background-color: #17141d;
  color: white;
  font-family: "DM Mono", monospace;
}
.card {
  height: 300px;
  width: 500px;
  min-width: 250px;
  padding: 0.5rem;
  border-radius: 16px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}
#statement1 {
  margin: 5;
  display: inline;
  float: left;
  margin-bottom: 35px;
}
#statement2 {
  margin: 5;
  display: inline;
  float: right;
  background: linear-gradient(90deg, #0099ff, #0c31d3);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 35px;
}
.titletext {
  margin: 1px;
}
#cardheader {
  display: flex;
  justify-content: space-around;
}
.button {
  cursor: pointer;
}
#off {
  color: #514a61;
}
#on {
  color: #ffffff;
}
