#connectbutton {
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  min-width: 150px;
  padding: 0.3rem;
  border-radius: 16px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  clear: both;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}
